@model List<string>

<h1>Ссылки, содержащие "detail" в атрибуте href:</h1>
@if (Model != null && Model.Count > 0)
{
    <ul>
        @foreach (var link in Model)
        {
            <li>
                <a href="@link" target="_blank">@link</a>
            </li>
        }
    </ul>
}
else
{
    <p>@ViewBag.Message</p>
}
