@model URL
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form asp-action="ParseDetailsLinks" asp-controller="Parser" method="post">
        <div class="mb-3">
            <label>Ссылка</label>
            <input asp-for="@Model.Url" class="form-control" required />
        </div>
        <div class="text-center">
            <input class="btn btn-primary" type="submit" value="Рапарсить" />
        </div>
    </form>

</div>
